html{width:100%;height:100%;}
	a{color: white;text-decoration: none;}
	p{float: left;display: inline;}
	#sideBar{width: 170px;height: 100%;color: white;background: #0e0e0e;position: fixed;left:0;top: 0;}
	#meteo{	height:120px;width: 150px;padding: 20px 10px;margin:0;background: rgb(125,126,125);background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 57%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(57%,rgba(14,14,14,1)));background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 57%);background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 57%);background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 57%);background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 57%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );}
	#hour, #temp p{	width: 75%;	text-indent:50px;	margin: 0 auto 10px auto;}
	#hour{background: url('../images/time.png') no-repeat;height: 20px;font-size:1.1em;}
	#temp{background: url('../images/temp.png') no-repeat;margin: 0 15px;font-size: 0.9em;}
	#temp p{margin: 0;font-size: 0.8em;}
	span.temp{font-size: 0.8em;}
	#clim{width: 100%;margin: 20px 10px 0 10px;font-size:0.9em;}
	#clim ul{float: right;	margin: 0 10px;padding: 0;}
	#clim ul li{list-style: none;margin: 0;padding: 0;line-height: 0.5em;}
	#clim ul li a{display: inline-block;width: 30px;height: 10px;opacity: 0.6;}
	#clim ul li:first-child a{background: url('../images/arrows.png') no-repeat top;}
	#clim ul li:last-child a{background: url('../images/arrows.png') no-repeat bottom;}
	#clim ul li a:hover{opacity: 1;transition: all 0.3s;}
	#climTemp{text-indent: 20px;}
	.weatherCity, .weatherDesc{display: none;}
	.menu{margin:0;list-style: none;padding: 0;}
	.menu a{display: block;width: 100%;height: 100px;background: red;border-bottom:solid 1px rgba(163,163,163,0.1);border-top:solid 1px rgba(255,255,255,0.1);opacity:0.6;}
	.menu a:hover{opacity:1;transition: all 0.5s;}
	.menu a.active{background-color:#3b3b3b !important;opacity:1;-moz-box-shadow: inset 4px -4px 28px -4px #000;-webkit-box-shadow: inset 4px -4px 28px -4px #000;box-shadow: inset 4px -4px 28px -4px #000;}
	.menu li:first-child a{background:url('../images/icones.png')no-repeat;}
	.menu li:nth-child(2) a{background:url('../images/icones.png') no-repeat -174px 0;}
	.menu li:nth-child(3) a{background:url('../images/icones.png')no-repeat  -348px 0;}
	.menu li:nth-child(4) a{background:url('../images/icones.png')no-repeat  -527px 0;}
	.menu li:nth-child(5) a{background:url('../images/icones.png')no-repeat  top right;}
body {
  width: 100%;
  height: 100%;
  background-color: #aaceff;
}
div.container {
  min-width: 900px;
  max-width: 900px;
  border-right: 10px #0e0e0e solid;
  border-left: 10px #0e0e0e solid;
  margin: auto;
  margin-left: 170px;
}
div.container #bedRoom {
  background-image: url("../images/bedRoom.jpg");
}
div.container #livingRoom {
  background-image: url("../images/livingRoom.jpg");
}
div.container #kitchen {
  background-image: url("../images/kitchen.jpg");
}
div.container #bathRoom {
  background-image: url("../images/bathRoom.jpg");
}
div.container #backyard {
  background-image: url("../images/backyard.jpg");
}
div.container .staires {
  position: absolute;
  width: 100px;
  height: 1800px;
  background-color: #0e0e0e;
  background-image: url("../images/echelle.png");
  background-repeat: repeat-y;
  background-size: 90%;
  top: 0;
  left: 1090px;
}
div.floor {
  height: 350px;
  border-bottom: 10px #0e0e0e solid;
  background-size: 100%;
  background-position: 0% 97%;
}
div.downstairs {
  height: 350px;
  border-bottom: 10px #0e0e0e solid;
}
div.perso {
  position: absolute;
  width: 35px;
  height: 60px;
  background-image: url("../images/perso.png");
  bottom: 52%;
  background-position: 8% 67%;
}
div.ladder {
  position: absolute;
  height: 380px;
  width: 40px;
  background-size: 100%;
  background-image: url("../images/echelle.png");
  top: 330px;
}
div.porte {
  position: absolute;
  width: 130px;
  height: 250px;
}
