#bathroom{
	position: absolute;
}

#miroir{
	position: absolute;
	left:150px;
}

#baignoire{
	position: absolute;
	left:150px;
	top:70px;
}

#rouleauPQ{
	position: absolute;
	top:70px;
}

#toilettes{
	position: absolute;
	top:70px;
	left:20px;
}