extends layout

block content
	div#sideBar
		div#meteo
			div#hour
			div#temp
				p Ext
				div#test
				p Int
				div#weatherIn
			div#clim R&eacute;gulateur : 
				span#climTemp
				ul
					li
						a#Plus(href="#")
					li
						a#Moins(href="#")
		ul.menu
			li
				a.active(href='#bedRoom')
			li
				a(href='#livingRoom')
			li
				a(href='#kitchen')
			li
				a(href='#bathRoom')
			li
				a(href='#backyard')
	div.container
		div.floor#bedRoom
		div.floor#livingRoom
		//- div.ladder
		div.floor#kitchen
		div.floor#bathRoom
		div.floor#backyard
		div.staires