extends layout

block content
	nav
		ul
			li
				a(href='#bedRoom') BEDROOM
			li
				a(href='#livingRoom') LIVINGROOM
			li
				a(href='#kitchen') KITCHEN
			li
				a(href='#bathRoom') BATHROOM
			li
				a(href='#backyard') BACKYARD
	div.container
		div.floor#bedRoom
		div.floor#livingRoom
		//- div.ladder
		div.floor#kitchen
		div.floor#bathRoom
		div.floor#backyard
		div.staires